{% extends 'base.html' %}

{% block content %}
    <section class ="feature-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center feature-title">
                    <h2>FEATURED PRODUCTS</h2>
                </div>
                    {% for products in products_list %}
                        <div class="col-md-3 col-sm-6">
                            <div class="product-grid">
                                <div class="product-image">
                                    <a href="#" class="image" style="background-color:#F3F3F3;">
                                        <img class="pic-1" src=" {{ products.images }} ">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">{{ products.name }}</a></h3>
                                    
                                    <div class="price">₱ {{ products.price }}</div>
                                    <ul class="rating">
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star disable"></li>
                                </ul>
                                </div>

                                <div class="action-buttons">
                                    <a class="btn-outline">ADD TO CART</a>
                                    <a class="btn-outline-icon"><i class="far fa-heart"></i></a>
                                    <a class="btn-outline-icon"><i class="fas fa-chart-pie"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>           
    </section>

{% endblock content %}

